<footer class="flex items-center justify-center text-white w-full h-20  ">
    <h1 class="font-black text-[20px]">@FranciscoMelen10</h1>
</footer>

<style>
    footer {
      font-family: "Poppins", sans-serif;
    }
  </style>