<header
  class="flex items-center justify-center gap-3 max-sm:gap-1 bg-gray-900 text-white font-mono mb-5 border-inherit rounded-xl border-gray-600 border-[1px] w-fit font-black"
>
  <label
    class="flex items-center justify-center gap-1 text-[20px] max-sm:text-[10px] pr-[10px] border-gray-600 border-r"
  >
    <img
      src="/ManaguaLogo.jpg"
      class="size-[30px] max-sm:size-[20px] rounded-full"
    />
    <h1 class="hover:text-yellow-200">Francisco</h1>
  </label>
  <nav
    class="flex items-center justify-around text-[20px] w-auto gap-3 pr-2 max-sm:text-[10px]"
  >
    <a href="#" class="hover:text-yellow-200">Inicio</a>
    <a href="#" class="hover:text-yellow-200">Torneos</a>
    <a href="#" class="hover:text-yellow-200">Acerca de</a>
    <a href="#" class="hover:text-yellow-200">Contáctanos</a>
  </nav>
</header>
